snippet preamble "LaTeX preamble" b
\documentclass[12pt, letterpaper]{article}
\usepackage{fontspec}
\usepackage{helvet}

\setlength{\parindent}{0pt}

\setlength{\parskip}{1em}

\title{}
\author{}
\date{}

\begin{document}

\end{document}
endsnippet
